footer {
    position: relative;
    // bottom: -10vh;
    // -color: $primary-color1;

    .main-footer {
        display: grid;
        grid-template-areas:
            "logo" "."
            "downloads" "."
            "about" ".";
        background-color: $secondary-color3;
        padding: $xxLarge-space $xLarge-space 48px $xLarge-space;
        .logo {
            grid-area: logo;
            width: $logo-width;
            margin-block-end: 32px;
        }
        .download-boxes {
            grid-area: downloads;
            .download-box {
                width: 180px;
                padding: $small-space $medium-space;
                margin-block-end: $large-space;
                border-radius: 10px;
                gap: $small-space;
                border: 1px $primary-color1 solid;
                .icon {
                    width: $xLarge-space;
                }
                .text {
                    font-weight: 900;
                    font-family: Helvetica;
                }
            }
        }

        .about {
            grid-area: about;
            margin-block-start: 48px;
            .about-title {
                @include h3Mobile();
                margin-block-end: $large-space;
            }
            .about-text {
                @include h3Mobile();
                margin-block-end: $large-space;
                line-height: 28px;
                letter-spacing: 2px;
            }
        }
    }

    .footer-nav {
        @include h3Mobile();
        padding: 32px 0 $xxLarge-space $xLarge-space;
        background-color: #fff;
        gap: 40px;
        flex-direction: column;
    }

    @include mq(mobile-breakpoint) {
        .main-footer {
            // background-color: green;
            grid-template-areas:
                "about" "logo"
                "downloads" "logo";
        }
        .footer-nav {
            border-top: 1px solid rgba($color: $primary-color1, $alpha: 0.1);
            flex-direction: row;
            justify-content: center;
        }
    }
}
