.app-header{
    background-color: gray;
    height: app-header-height;
    padding: 8px 20px ;
    .right-nav{
        position: absolute;
        right: 20px;
        gap:20px;
    }
    .logo{
        width: 32px;
    }
    .hamburger{
        width: 20px;
    }
}