.app-header {
    height: $app-header-height;
    padding: $small-space $xLarge-space;
    .right-nav {
        position: absolute;
        right: $xLarge-space;
        gap: $xLarge-space;

        .search-icon {
            &:hover {
                cursor: pointer;
            }
        }
        .bag-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .logo {
        width: 32px;
    }
    // .hamburger {
    //     width: $xxLarge-space;
    // }

    .hamburger {
        display: inline-flex;
        color: $primary-color1;
        width: 24px;
        height: 32px;
        position: relative;
        // margin: 50px auto;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        span {
            display: block;
            position: absolute;
            height: 1.5px;
            width: 100%;
            background: $primary-color1;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 12px;
        }

        span:nth-child(3) {
            top: 24px;
        }

        &.open span:nth-child(1) {
            top: 12px;
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &.open span:nth-child(3) {
            top: 12px;
            transform: rotate(-135deg);
        }
    }

    .nav {
        z-index: 2;
        display: none;
        // border: 1px black solid;
        position: absolute;
        background-color: $secondary-color3;
        top: 48px;
        .nav-link {
            position: relative;
            padding: $medium-space;
            font-size: em($xLarge-space);
            font-weight: 600;
        }
        .active {
            font-weight: 700;
        }
        &.open {
            display: flex;
        }
    }

    .bag {
        z-index: 2;
        display: none;
        position: absolute;
        top: 48px;
        &.open {
            display: flex;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .search {
        z-index: 2;
        border: 1px black solid;
        display: none;
        position: absolute;
        top: 48px;
        &.open {
            display: flex;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
