.app-header {
    height: app-header-height;
    padding: $small-space $xLarge-space;
    .right-nav {
        position: absolute;
        right: $xLarge-space;
        gap: $xLarge-space;
    }
    .logo {
        width: 32px;
    }
    .hamburger {
        width: $xxLarge-space;
    }
}
