.restaurant-filter {
    background-color: $secondary-color3;
    margin-block-start: 40px;
    .filter-type {
        padding: 18px 22px;
        gap: 8px;

        &:hover {
            cursor: pointer;
        }
    }
    .arrow-icon {
        width: 24px;
    }
}
