.app-header {
    height: $app-header-height;
    // padding: $small-space $xLarge-space;
    .right-nav {
        right: $xLarge-space;
        gap: $xLarge-space;

        .search-icon {
            &:hover {
                cursor: pointer;
            }
        }
        .cart-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .logo {
        width: 32px;
        margin-inline-start: 76px;
    }

    .dekstop-logo {
        display: none;
        font-weight: 400;
        margin-inline-start: 16px;
    }

    @include mq(mobile-breakpoint) {
        margin-inline: 100px;
        .dekstop-logo {
            display: flex;
        }
        .logo {
            margin-inline-start: 0;
        }
    }
}
