.app-header {
    .bag {
        z-index: 2;
        display: none;
        position: absolute;
        top: 48px;
        &.open {
            display: flex;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
