.app-header {
    @include headerToggleCmp(cart);

    .cart {
        justify-content: flex-start;
        right: 0;
        gap: 20px;
        height: 80vh;

        .cart-icon {
            width: 44px;
        }
        .cart-message {
            @include h2Mobile();
        }

        .history {
            display: none;
            position: absolute;
            bottom: 44px;
            border: 1px black solid;
            padding: 4px 16px;
            font-size: 18px;
            font-weight: 600;

            &::hover {
                cursor: pointer;
            }
        }
    }
    .full-cart {
        gap: 20px;
        .cart-title {
            @include h1Mobile();
            font-weight: 700;
            font-size: 20px;
        }
        .image-dish {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        .dish-info {
            position: relative;
            width: 244px;
            padding: 12px 12px 12px 24px;
            background-color: $secondary-color1;
        }
        .dish-name {
            @include h3Mobile();
            font-weight: 900;
            span {
                font-size: 14px;
                margin-inline-end: 8px;
            }
            margin-block-end: 8px;
        }
        .details {
            font-size: 12px;
        }
        .price {
            position: absolute;
            right: 12px;
            bottom: 12px;
            font-weight: 900;
        }

        .items-list {
            gap: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 300px;
        }
        .checkout-btn {
            @include common-btn();
        }
    }

    @include mq(mobile-breakpoint) {
        .cart {
            width: 35%;
            right: 0;
            height: 60vh;
            .history {
                display: inline-block;
            }
        }
    }
}
