.app-header {
    .cart {
        background-color: $primary-color3;
        width: 100%;
        right: 0;
        z-index: 5;
        display: none;
        position: absolute;
        gap: 20px;
        top: 0;
        height: 220px;
        &.open {
            display: flex;
        }
        &:hover {
            cursor: pointer;
        }
        .cart-icon {
            width: 44px;
        }
        .cart-message {
            @include h2Mobile();
        }

        .history {
            display: none;
            position: absolute;
            bottom: 44px;
            border: 1px black solid;
            padding: 4px 16px;
            font-size: 18px;
            font-weight: 600;

            &::hover {
                cursor: pointer;
            }
        }
    }
    .full-cart {
        .image-dish {
            width: 100px;
            height: 100px;
        }
        .dish-info {
            padding: 12px;
            background-color: $secondary-color1;
        }
    }

    @include mq(mobile-breakpoint) {
        .cart {
            width: 35%;
            right: 0;
            height: 60vh;
            .history {
                display: inline-block;
            }
        }
    }
}
