.app-header {
    .cart {
        // padding: 60px 24px 44px 12px;
        background-color: $primary-color3;
        width: 100%;
        z-index: 2;
        display: none;
        position: absolute;
        gap: 20px;
        top: 46px;
        height: 50vw;
        &.open {
            display: flex;
        }
        &:hover {
            cursor: pointer;
        }
        .cart-icon {
            width: 44px;
        }
        .cart-message {
            @include h2Mobile();
        }
    }
}
