.app-header {
    @include headerToggleCmp(login);

    .login {
        right: 0;
        height: max-content;
        text-align: center;
        align-items: center;
        .title {
            @include h3Mobile();
        }
        .sub-title {
            @include h3Mobile();
            font-size: 16px;
        }
        .login-form {
            align-content: flex-start;
            justify-content: start;
        }

        .login-button {
            margin-block-start: 40px;
            margin-block-end: 16px;
            @include common-btn();
            width: 100%;
        }
        .forget {
            font-size: 14px;
        }
        .or {
            margin-block: 40px;
        }
        .signup-button {
            @include common-btn-light();
            margin-block-end: 40px;
        }
    }
}
