.app-header {
    @include headerToggleCmp(search);

    .search {
        left: 0;
        align-items: flex-start;
        height: 360px;

        .search-dynamic {
            width: 80%;
            height: 48px;
        }
    }
}
