* {
    box-sizing: border-box;
}

html {
    font-size: $large-space;
    scroll-behavior: smooth;
}

body {
    font-size: rem($large-space);
    min-height: 100vh;
    color: $primary-color1;
    font-family: HelveticaR;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }

    &.active {
        color: darkred;
    }
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}
img {
    width: 100%;
}
input {
    font-family: inherit;
    text-align: inherit;
}
