.main-container {
    display: grid;
    grid-template-columns: 1fr;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // bigger than 480px
    @include mq(mobile-breakpoint) {
        grid-template-columns: 1fr max(1440px) 1fr;
    }
}
