@font-face {
    src: url('../../Fonts/Helvetica\ Neue\ Regular.otf');
    font-family: HelveticaR;
  }
  
@font-face {
    src: url('../../Fonts/HelveticaNeue\ Thin.ttf');
    font-family: HelveticaT;
  }

