.hero-section{
position: relative;
.box{
        padding: 8px;
        // @include H2Mobile()
        // font-weight: 200;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        background-color: rgba($color:$secondary-color3, $alpha: .8);   
        width: 90%;
        .text{
            line-height: 32px;
        }
        .search{
            border:1px black solid;
            width: 100%;
            padding: 6px 12px;
            margin-block-start: 18px;
            border-radius: 4px;
            .search-input{
                background-color: inherit;
                border: none;
                width: 100%;
            }
            .search-icon{
                width: 20px;
            }
        }
    }
}