.icons-container {
    background-color: $secondary-color3;
    // gap: 56px;
    padding: $xxLarge-space 0;
    @include h3Mobile();

    .icon-title {
        line-height: 35px;
        @include h3Mobile();
        margin-block-end: 32px;
    }
    .icon-type {
        gap: 32px;
        .icon-name {
            margin-block-end: 56px;
        }
    }
    .icon {
        width: 77px;
        height: 60px;
        margin-block-start: 16px;
    }

    @include mq(mobile-breakpoint) {
        .our-icons {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }
    }
}
