.checkout-page {
    text-align: center;
    padding: 24px 20px;
    .title {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        margin-block-end: 40px;
    }
    .text-input {
        margin-block-end: 40px;
    }

    @include mq(mobile-breakpoint) {
        width: 500px;
        margin: 0 auto;
        justify-content: center;
    }
}
