.dish-page {
    .close-container {
        background-color: $primary-color3;
        width: 100%;
        display: flex;
        padding: 12px;
        justify-content: start;
    }
    .dish-image {
        max-height: 270px;
        object-fit: cover;
    }
    .dish-info {
        padding: 32px 20px;

        .dish-title {
            @include h3Mobile();
            font-weight: 900;
            margin-block-end: 16px;
        }

        .ingredients {
            line-height: 18px;
            letter-spacing: 1.97px;
        }

        .question-title {
            @include h3Mobile();
            position: relative;
        }
    }
}
