/* Breakpoint mixins */

@use "sass:map";

$breakpoints: (
    mobile-breakpoint: em(480px),
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// Dekstop Mixin
@mixin h1Dekstop() {
    font-family: HelveticaT;
    font-size: 32px;
    color: $primary-color1;
}
@mixin h2Dekstop() {
    font-family: HelveticaT;
    font-size: 30px;
    color: $primary-color1;
}
@mixin h3Dekstop() {
    font-family: HelveticaT;
    font-size: 40px;
    color: $primary-color1;
    font-weight: 700;
}
// Mobile Mixin
@mixin h1Mobile() {
    font-family: HelveticaR;
    font-size: 24px;
    color: $primary-color1;
    font-weight: 200;
    line-height: 32px;
}
@mixin h2Mobile() {
    font-family: HelveticaR;
    font-size: 16px;
    color: $primary-color1;
}
@mixin h3Mobile() {
    font-family: HelveticaR;
    font-size: 18px;
    color: $primary-color1;
    font-weight: 200;
    line-height: 24px;
}
@mixin button() {
    background-color: $primary-color1;
    color: $secondary-color3;
    font-size: em(16px);
}

@mixin placeHolderMobile() {
    font-size: 12px;
    letter-spacing: 1.3px;
    color: $primary-color1;
}
