/* Breakpoint mixins */

@use "sass:map";

$breakpoints: (
    mobile-breakpoint: 480px,
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// Dekstop Mixin
@mixin h1Dekstop() {
    font-family: Helvetica;
    font-size: 32px;
    color: $primary-color1;
    line-height: 40px;
    letter-spacing: 2px;
}
@mixin h2Dekstop() {
    font-family: Helvetica;
    font-size: 30px;
    color: $primary-color1;
}
@mixin h3Dekstop() {
    font-family: Helvetica;
    font-size: 40px;
    color: $primary-color1;
    font-weight: 700;
}
// Mobile Mixin
@mixin h1Mobile() {
    font-family: Helvetica;
    font-size: $xxLarge-space;
    color: $primary-color1;
    font-weight: 200;
    line-height: 32px;
}
@mixin h2Mobile() {
    font-family: Helvetica;
    font-size: $large-space; //16px
    color: $primary-color1;
}
@mixin h3Mobile() {
    font-family: Helvetica;
    font-size: 18px;
    color: $primary-color1;
    font-weight: 200;
    line-height: $xxLarge-space;
    letter-spacing: 1.25px;
}
@mixin button() {
    background-color: $primary-color1;
    color: $secondary-color3;
    font-size: em($large-space);
}

@mixin placeHolderMobile() {
    font-size: $medium-space;
    letter-spacing: 1.3px;
    color: $primary-color1;
}
