// Colors
$primary-color1: #000000;
$primary-color2: #979797;
$secondary-color1: #F9F4EA;
$secondary-color2: #E19D1A;
$secondary-color3: #FAFAFA;

// Breakpoints
$mobile-breakpoint: 480px;

// Spacing

$min-space: 4px;
$small-space: 8px;
$medium-space: 12px;
$large-space: 16px;
$xLarge-space: 20px;
$xxLarge-space: 24px;

//layout

$mobile-padding: 32px;
$normal-padding: 120px;


//Height
$app-header-height: 46px;