// Colors
$primary-color1: #000000;
$primary-color2: #979797;
$primary-color3: #fff;
$secondary-color1: #f9f4ea;
$secondary-color2: #e19d1a;
$secondary-color3: #fafafa;
// Breakpoints
$mobile-breakpoint: 480px;

// SPACING

$min-space: 4px;
$small-space: 8px;
$medium-space: 12px;
$large-space: 16px;
$xLarge-space: 20px;
$xxLarge-space: 24px;

//LAYOUT

$mobile-padding: 20px;
$normal-padding: 100px;

//HEIGHT
$app-header-height: 46px;
$dynamic-card-height: 160px;

//WIDTH
$dynamic-card-width: 245px;
$logo-width: 100px;
