.dynamic-carousel {
    margin-inline-start: $xLarge-space;
    .title {
        @include h3Mobile();
        margin-block-end: 40px;
    }
    .all-restaurants {
        gap: $medium-space;
        margin-block-end: 48px;
        .arrow-icon {
            width: $xxLarge-space;
        }
    }

    .dekstop-carousel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: $xxLarge-space;
        justify-items: center;
        // .carousel-item {
        //     max-width: 380px;
        // }
    }

    @include mq(mobile-breakpoint) {
        margin-inline: $normal-padding;

        text-align: center;
        .all-restaurants {
            justify-content: flex-end;
        }
        .title {
            text-align: start;
            margin-block: 42px;
        }
    }
}
